@model IndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    <h3>Kategoriler</h3>
                    <ul>
                        @foreach (var kategoriler in Model.kategorilerim)
                        {
                            <li>@kategoriler.CategoryName</li>
                        }
                    </ul>
                </td>
                <td>
                    <h3>Ürünler</h3>
                    <ul>
                        @foreach (var urunler in Model.urunlerim)
                        {
                            <li>@urunler.ProductName</li>
                        }
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>